html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    direction: rtl;
    background: #000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-md-4, .col-md-12, .col-md-8, .col-sm-12{
    background-color: aquamarine;
    color: #000;
    text-align: center;
    border: 10px solid #000;
}
.col-md-4{
    display: flex;
    justify-content:center; 
    flex-direction: column;
}
table{  
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background-image: linear-gradient(to right bottom , #2c2c2c, #5f5f5f);
    text-align: center;
    overflow-y: scroll;

}
table *{
    margin: 0 auto; 

}
.id{
    cursor: help;
}
.tonone{
    position: fixed;
    top : 3vh;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
}
#showreaded{
    background-color: #745454;
    border: none;
    margin: 0.5em 0;
    border: none;
}
.tabel{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#addSlotsButton{
    background-color: #00c54c;
    margin: 0.5em 0;
    border: none;
}
#deletbtn{
    background: #ff1919;
    margin: 0.5em 0;
    border: none;
}
.btns-c *{
    padding: 10px;
    font-family: sans-serif;
}
.btns-c{
    background-color: #ffffff93;
}